<h1>Searching for: <%= @search_term %></h1>

<%= form_tag(root_path, method: "get") do %>
  <%= label_tag(:looking_for, "Search for:") %>
  <%= text_field_tag(:looking_for) %>
  <%= submit_tag("Search") %>
<% end %>
<br />

<% if @courses.nil? %>
No results found!
<% else %>
<table border="1">
  <tr>
  	<th>Image</th>
  	<th>Name</th>
  	<th>Description</th>
  </tr>
  <% @courses.each do |course| %>
    <tr class=<%= cycle('even', 'odd') %>>
      <td><%= image_tag(course["smallIcon"])%></td>
      <td class="title"><%= link_to course["name"], "https://coursera.org/course/" + course["shortName"], :target => '_blank' %></td>
      <td><%= course["shortDescription"] %></td>
    </tr>
  <% end %>
</table>
<% end %>